
 <% Visual.all.each do |visual| %>

<div class="p-2 max-w-sm bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 m-2 mx-auto">
<div>
    <div class="p-5 flex flex-row">
        <% if  user = User.find(visual.user_id) %>
        <%= image_tag user.avatar, class:"h-12 w-12" %>
            <div class="p-3">
            <%= user.username%>
            </div>
            <% end %>
            <% if user_signed_in? && current_user.id == visual.user_id %>
            <%= link_to "Delete", visual_path(visual), method: :delete, data: { turbo:false }, class:"rounded-lg py-3 ml-2 px-5 bg-red-100 inline-block font-medium" %>
            <%= link_to 'Edit', edit_visual_path(visual), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
            <%end%>
    </div>
    <%= image_tag visual.image, class:"rounded-t-lg p-2" %>
</div>

    
    <p class="ml-2">Comments:</p>
            <% visual.comments.each do |comment|%>
    <div class="flex flex-row p-1">
        <% if  user = User.find(comment.user_id) %>
        <%= image_tag user.avatar, class:"h-8 w-8" %>
            <span class="pl-2 mt-1"><%= comment.content%></span>
            <% end %>
    </div>
        <% end %>
        <div class="">
        <%= form_with(model: [visual, visual.comments.build]) do |f|%>
        <%= f.text_field :content, class:" px-2 block w-full flex-1 rounded-none rounded-r-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
        <%= f.submit "Submit", class:"mt-2 rounded-lg py-3 ml-2 text-white px-5 bg-blue-600 inline-block font-medium" %>
        <% end %>
        </div>
    </div>

<% end %> 


